/* =====================================================================*/
@import "var"


/* SLIDER RANGE =====================================================================*/


// Reset
.range-slider 
  margin: 60px 0 0 0%

.range-slider 
  width: $range-width

.range-slider__range 
  -webkit-appearance: none
  width: calc(100% - (#{$range-label-width + 13px}))
  height: $range-track-height
  border-radius: 5px
  background: $range-track-color
  outline: none
  padding: 0
  margin: 0

  // Range Handle
  &::-webkit-slider-thumb 
    appearance: none
    width: $range-handle-size
    height: $range-handle-size
    border-radius: 50%
    background: $range-handle-color

    transition: background .15s ease-in-out
  

  &:active::-webkit-slider-thumb 
    background: $range-handle-color-hover
  

  &::-moz-range-thumb 
    width: $range-handle-size
    height: $range-handle-size
    border: 0
    border-radius: 50%
    background: $range-handle-color
    cursor: pointer
    transition: background .15s ease-in-out

    &:hover 
      background: $range-handle-color-hover
    
  

  &:active::-moz-range-thumb 
    background: $range-handle-color-hover

// Range Label
.range-slider__value 
  display: inline-block
  position: relative
  width: $range-label-width
  color: $shade-0
  line-height: 20px
  text-align: center
  border-radius: 3px
  background: $range-label-color
  padding: 5px 10px
  margin-left: 8px

  &:after 
    position: absolute
    top: 8px
    left: -7px
    width: 0
    height: 0
    border-top: 7px solid transparent
    border-right: 7px solid $range-label-color
    border-bottom: 7px solid transparent
    content: ''
  
// Firefox Overrides
::-moz-range-track 
    background: $range-track-color
    border: 0


input::-moz-focus-inner,
input::-moz-focus-outer 
  border: 0;

/*  SECTIONS  ============================================================================= */

.section 
	clear: both
	padding: 0px
	margin: 0px

/*  SECTIONS  END ========================================================================= */

/*  GROUPING  ============================================================================= */

.group:before,
.group:after 
    content: ""
    display: table

.group:after 
    clear: both

.container 
    zoom: 1 /* For IE 6/7 (trigger hasLayout) */

/*  GROUPING END  ========================================================================== */

/* SLIDER RANGE END =================================================================*/
.container 
	background: #e2e2e2
	width: 100%
	margin: 0 auto
	display: table

.container .cols 
	float: left
	margin: 0 0 1em
	padding: 0 1em
	background: #fd4
	text-align: center


/*  GRID COLUMN SETUP   ==================================================================== */
.col 
	display: block
	float: left
	padding: 15px
.col:first-child 
	margin-left: 0 /* all browsers except IE6 and lower */

/*  GRID COLUMN SETUP  END ================================================================= */

/*  COLONIUM DIV BLOCK ======================================================================== */

.col-1
	width: 8.3%

.col-2
	width: 16.6%

.col-3
	width: 25%

.col-4
	width: 33.3%

.col-5
	width: 41%

.col-6
	width: 50%

.col-7
	width: 58.3%

.col-8
	width: 66.6%

.col-9
	width: 75%

.col-10
	width: 83%

.col-11
	width: 91%

.col-12
	width: 100%

/*  COLONIUM DIV BLOCK END ====================================================================== */

html 
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

*, *:before, *:after 
	-webkit-box-sizing: inherit
	-moz-box-sizing: inherit
	box-sizing: inherit

.clearfix:before,
.clearfix:after
	content: ""
	display: table
.clearfix:after 
	clear: both
div, p, input, button, a 
	box-sizing: border-box
.f11px 
	font-size: 11px
.f12px 
	font-size: 12px
.f13px 
	font-size: 13px
.f14px 
	font-size: 14px
.f15px 
	font-size: 15px
.f16px 
	font-size: 16px
.f17px 
	font-size: 17px
.f18px 
	font-size: 18px
.f19px 
	font-size: 19px
.f20px 
	font-size: 20px
.f21px 
	font-size: 21px
.f22px 
	font-size: 22px
.f23px 
	font-size: 23px
.f24px 
	font-size: 24px
.f25px 
	font-size: 25px
.f26px 
	font-size: 26px
.f27px 
	font-size: 27px
.f28px 
	font-size: 28px
.f29px 
	font-size: 29px
.f30px 
	font-size: 30px
.f31px 
	font-size: 31px
.f32px 
	font-size: 32px
.f33px 
	font-size: 33px
.f34px 
	font-size: 34px
.f35px 
	font-size: 35px
.f36px 
	font-size: 36px
.f37px 
	font-size: 37px
.f38px 
	font-size: 38px
.f39px 
	font-size: 39px
.f40px 
	font-size: 40px
.f41px 
	font-size: 41px
.f42px 
	font-size: 42px
.f43px 
	font-size: 43px
.f44px 
	font-size: 44px
.f45px 
	font-size: 45px
.f46px 
	font-size: 46px
.f47px 
	font-size: 47px
.f48px 
	font-size: 48px
.f49px 
	font-size: 49px
.f50px 
	font-size: 50px
.f51px 
	font-size: 51px
.f52px 
	font-size: 52px
.f53px 
	font-size: 53px
.f54px 
	font-size: 54px
.f55px 
	font-size: 55px
.f56px 
	font-size: 56px
.f57px 
	font-size: 57px
.f58px 
	font-size: 58px
.f59px 
	font-size: 59px

.white
	color: #FFF
.upper
	text-transform: uppercase
.centro
	margin: 0 auto
.aligner
	text-align: center
.lefter
	float: left
.righter
	float: right