@import 'core'
@import 'fonts'
@import 'var'

body
	font: 100%/1.5em Arial, Helvetica, sans-serif
	color: #000
	overflow-y: scroll
	overflow-x: hidden

.after
	position: absolute
	content: ''
	background-color: $main-color
	display: block
	transform: translate(-50%, 0)
	border-radius: 10em
	width: 325px
	height: 3px
	bottom: -17px
	top: 8px
	left: 31%

.after-pro-me
	position: relative
	content: ''
	background-color: $main-color
	display: block
	transform: translate(-50%, 0)
	border-radius: 10em
	width: 70px
	height: 3px
	bottom: -17px
	left: 5%

.ulmnu
	list-style-type: none
	margin: 0
	padding: 0
	li

.container
	.header
		background-color: $bgc
		a 
			position: relative
			display: block
			height: 26px
			width: 45px
			margin-top: 48px
			margin-left: 85px

.container.description-author
	background-color: $bgc
	padding-bottom: 80px
	margin-bottom: 80px
	.author
		text-align: center
		h2
			position: relative
			color: #FFF
			font-size: 37px
			font-family: "Raleway-Medium", sans-serif
			font-weight: 500
			margin-top: 15px
			padding: 10px
			border-top: 2px solid #fb6470
			border-bottom: 2px solid #fb6470
		.description
			margin: 17px 0 50px 0
			span
			 	color: #FFF
			 	font-size: 18px
			 	font-family: "Raleway-Light", sans-serif
			 	text-align: center
			 	font-weight: 300
			span
			 	&:nth-child(1)
			 		margin-right: 15px
		.hire-btn
			margin-top: 45px
			cursor: pointer
			a
				background-color: $main-color
				padding: 15px 35px 15px 35px
				width: 155px
				color: #FFF
				font-size: 22px
				font-family: "Raleway-Light", sans-serif
				border-radius: 5px
				margin-bottom: 188px
				text-decoration: none
.container.about
	background-color: $white
	padding: 0 80px 0 80px
	.col.col-5
		.me 
			h2
				position: relative
				font-size: 24px
				color: #3e3e3e
				font-family: "Raleway-SemiBold", sans-serif
				&::after
					@extend .after-pro-me;
			p 
				font-size: 16px
				color: #636363
				font-family: "Raleway-Medium", sans-serif
				text-align: justify
				margin-top: 55px
				line-height: 22px
			ul
				li 
					display: block
					padding: 15px 0
					border-bottom: 1px solid #636363
					a
						text-decoration: none
						color: #636363
						font-family: "Raleway-Medium", sans-serif
						span
							color: #3e3e3e
							font-family: "Raleway-SemiBold", sans-serif
	.author-img
		max-width: 100%
		display: table
		padding: 80px 0 0 30px;

.container.experience, .container.education
	background-color: #FFF
	h2
		position: relative
		font-size: 24px
		font-family: "Raleway-SemiBold", sans-serif
		color: #3e3e3e
		margin-left: 75px
		&::after
			@extend .after-pro-me;
.container.work
		padding: 0 80px 0 80px
		min-height: 800px
		background-color: #FFF
		background-image: url(../build/img/Experience.png)
		background-repeat: no-repeat
		background-position: center center
		background-size: contain
		.stuff
			background-color: #353541
			color: #FFF
			padding: 12px
			border-radius: 5px
			h4
				font-family: "Raleway-SemiBold", sans-serif
				margin: 0
				span
					font-family: "Raleway-Medium", sans-serif
			.calendar
				font-family: "Raleway-Medium", sans-serif
				font-size: 16px
				color: #d35b67
			.stuff-text
				text-align: justify
				font-size: 14px
				font-family: "Raleway-Regular", sans-serif
				line-height: 18px
.container.work
	.ceo 
		margin-top: 300px
	.ui 
		margin-top: 235px
	.marketing
		margin-top: 55px
		margin-bottom: 290px

.container.education


.container.myskills,.container.skills
	background-color: #1d1d24
	padding: 0 80px 0 80px
	color: #FFF

.container.myskills
	h2
		position: relative
		font-family: "Raleway-SemiBold", sans-serif
		font-size: 24px
		margin-top: 60px
.container.skills
	span
		font-family: "Raleway-Medium", sans-serif
		font-size: 16px

.hidden
	.menu-author
		display: none
		position: absolute
		top: 0
		.top-menu-img
			background-image: url(../build/min/author.jpg)
			background-repeat: no-repeat
			background-position: center
			background-size: 100% auto
			min-height: 300px
		.top-menu-author
			font-size: 24px
			color: #FFF
			font-family: "Raleway-Medium", sans-serif
			span
				font-size: 18px
		.menu-desc
			margin-top: -55px
			.ath-r
				color: #FFF
				font-family: "Raleway-Medium", sans-serif
				font-size: 28px
				margin-left: 25px
			span
				padding-left: 25px
				color: #FFF
			.ul-menu-author
				font-family: "Raleway-Medium", sans-serif
				margin-top: 15px
				ul
					@extend .ulmnu; 
					li
						display: block
						background-color: #353541
						padding: 25px 135px 25px 25px
						border-bottom: 1px solid #30303c
						a
							color: #FFF
