form 
	fieldset
        legend 
            p Leave a Message
            .nes
                p
                    input(type='text', name='name', id='name', placeholder='Name*', spellcheck='false', size='20')
                  p
                    input(type='email', name='email', id='email', placeholder='Email*', size='20')
                  p
                    input(type='subject', name='subject', id='subject', placeholder='Subject*', size='20')
                .message
                  textarea(cols='40', rows='10', placeholder="Message*")
                  .hire-btn
                    span Hire Me!