doctype html
html
  head
    meta(charset='utf-8')
    title Заголовок
    meta(name='description', content='')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
    link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
  body
    .container.navigator
      .section.group
          .header.col.col-12
            .top-nav
                include button_nav.pug
    .container.description-author
      .section.group
          .col.col-6
          .author.col.col-4
              h2 Al Rayhan
              .description
                  span.top #Ui/ux Expert
                  span #Graphic Designer
              .hire-btn
                span Hire Me!
    .container.about
      .section.group

        .col.col-5
          include about_me.pug
        .col.col-4.author-img
          img(src='../build/img/author.png')
    .container.experience
      .section.group
        .col.col-6
          h2 Work Experience
    .container.work
      .section.group
        .col.col-5
          .ceo
            .stuff
              h4 CEO & Founder 
                span @DeviserWeb
              .calendar Jan 2013 - Dec 2014
              .stuff-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
          .ui
            .stuff
              h4 CEO & Founder 
                span @DeviserWeb
              .calendar Jan 2013 - Dec 2014
              .stuff-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consequat.  
        .col.col-2
        .col.col-5
          .marketing
            .stuff
              h4 CEO & Founder 
                span @DeviserWeb
              .calendar Jan 2013 - Dec 2014
              .stuff-text  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .creative  
            .stuff
              h4 CEO & Founder 
                span @DeviserWeb
              .calendar Jan 2013 - Dec 2014
              .stuff-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    .hidden
    //if lt IE 9
      script(src='libs/html5shiv/es5-shim.min.js')
      script(src='libs/html5shiv/html5shiv.min.js')
      script(src='libs/html5shiv/html5shiv-printshiv.min.js')
      script(src='libs/respond/respond.min.js')
    script.
      function loadCSS(hf) {
      var ms=document.createElement("link");ms.rel="stylesheet";
      ms.href=hf;document.getElementsByTagName("head")[0].appendChild(ms);
      }
      //loadCSS("libs/animate/animate.css"); //Load Libs CSS: Animate CSS
      loadCSS("css/header.min.css");              //Header Styles (compress & paste to header after release)
      loadCSS("css/main.min.css");                //User Styles: Main
      loadCSS("css/media.min.css");               //User Styles: Media
      loadCSS("css/core.min.css"); 	 		          //User Styles: Core
      loadCSS("css/fonts.min.css"); 				      //User Styles: Fonts
